@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/*noinspection CssUnresolvedCustomProperty*/
@theme {
  --font-sans: var(--font-lexend);
  --font-secondary: var(--font-secondary);

  --color-primary: #881A31;
}
