---
import BaseHead from '@/components/astro/base/BaseHead.astro'
import Footer from '@/components/astro/base/Footer.astro'
import '@/styles/global.css'

export interface Props {
  metaTitle: string
  metaDescription: string
  className: string
}

const { metaTitle, metaDescription, className } = Astro.props
---
<html lang="en" class="dark">
<head>
  <BaseHead
    title={metaTitle}
    description={metaDescription}
    siteHandle="@onesm-frontend"
    image="/favicon.jpg"
  />
</head>
<body class:list={[className, 'min-h-screen']}>
<slot />
<Footer />
</body>
</html>
